{% extends 'base.html' %}

{% block head %}
<title>Online Journal</title>
{% endblock %}

{% block body %}
<div class="columns">
    <h1>*****Welcome to Online Journal*****</h1>
    <h1>***Update Journal***</h1>


    <form action="/update/{{journal.id}}" method="POST" enctype="multipart/form-data">
        <input type="number" name="id" id="id" placeholder="ID" value = "{{journal.id}}"required>
        <input type="text" name="title" id="title" placeholder="Title" value = "{{journal.title}}"required>
        <input type="text" name="author" id="author" placeholder="Author" value = "{{journal.author}}"required>
        <input type="text" name="contact" id="contact" placeholder="Mobile or Email" value = "{{journal.contact}}">
        <br>
        <textarea type="text" name="journal" id="journal" rows="20" cols="91" required>{{journal.journal}}</textarea>
        <br>
        <button class="btn btn-primary" type="submit">Update Journal</button>
        
</div>
{% endblock %}
